@import "tailwindcss";
/* body {
    background:  url("/image.jpg"), no-repeat center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
  } */